https://fanpage-api-anne-with-an-e-anne-of-green.onrender.com/

to get the characters

https://fanpage-api-anne-with-an-e-anne-of-green.onrender.com/characters

to get a specific character 

https://fanpage-api-anne-with-an-e-anne-of-green.onrender.com/character/1 (or 2)

to get actors 

https://fanpage-api-anne-with-an-e-anne-of-green.onrender.com/actors